/*
 * COMMON
 */
body
{
  margin:      0; /* to avoid margins */
  font-family: "Times New Roman";
  text-align: center;
}

/* tests only */
/*
div { border: 1px solid red; }
table { border: 1px solid green; }
table tr { border: 1px dotted green; }
table td { border: 1px dotted gray; }
*/

/* top-most div */
div#mainDiv
{
  color:        black;
  background:   black;
  margin-left:  auto;
  margin-right: auto;
  width: 950px;
  padding:      0em;
}
div#contentDiv
{
}
table#contentTable
{
  width:        930px;
  margin-left:  10px;
  margin-right: 10px;
}
tr#contentTR
{
}

/* top-most part */
div#headDiv
{
  margin:       1em;
  text-align:   right;
  font-style:   italic;
  margin-right: 2em;
  color:        #4775a5;
  font-size:    200%;
  font-weight:  bold;
}

/* menu */
td#sideMenuPart
{
  border-width: 0px 2px 0px 0px;
  border-color: white gray white white;
  border-style: inset inset inset inset;
}

td.menuTd
{
  text-align: center;
}

/* menu links */
a.menuLink:visited
{
  color:           #eeeeee;
  font-size:       150%;
  text-decoration: none;
  letter-spacing:  2px;
}

a.menuLink:link
{
  color:           white;
  font-size:       150%;
  text-decoration: none;
  letter-spacing:  2px;
}

a.menuLink:hover
{
  color:           #ff0000;
  font-size:       150%;
  border-bottom:   5px solid #84cbe3;
  letter-spacing:  2px;
}

/* content */
td#mainContentPart
{
  width: 730px;
  text-align: justify;
  padding: 1em;
  color: #000000;
}

div#calendarDiv
{
  text-align: center;
}

td.calTh
{
  width: 100px;
  color: #fff;
  background-color: #f775a5;
  text-align: center;
}

td.calTd
{
  width: 100px;
  border: 1px solid gray;
  text-align: center;
}

td.calResTd
{
  background-color: #4775a5;
  color: #fff;
  border: 1px solid gray;
}


td.pic
{
  width: 225px;
  height: 225px;
  text-align: center;
  vertical-align: middle;
}

#AlertTag
{
    background-color:  #8989a2;
    font-size:       18px;
}

#AlertContent
{
  background-color: #a9a9c2;
  font-size:        18px;
  text-align:       center;
}


a.apic:link, a.apic:visited, a.apic:hover
{
  border: none;
}

img.test
{
  border: none;
}

img.apic
{
  border: none;
}

/* footer part */
div#footerDiv
{
}
table#footerBar
{
  margin-top:   1em;
  border-top:   1px solid gray;
  color:        gray;
  font-style:   italic;
  font-size:    75%;
  margin-left:  20px;
  margin-right: 20px;
  width:        910px;
}
td#w3cValidator
{
  text-align:   left;
}
td#logos
{
  text-align: right;
}
img.FooterLogoImage
{
  border:     0px;
}
