/*
 * COMMON
 */
body
{
  margin: 0;
  font-family: "Times New Roman";
  text-align: center;
}

/* tests only */
/*
div { border: 1px solid red; }
table { border: 1px solid green; }
table tr { border: 1px dotted green; }
table td { border: 1px dotted gray; }
*/

/* treeview */
.leaf
{
  color: #ffff00;
  font-size: 120%;
  list-style-image:url('pics/tree/arrow-empty-right.gif');
}

.node
{
  font-size: 120%;
  list-style-image:url('pics/tree/arrow-down.gif');
}

.nodeDeployed
{  
  font-size: 120%;
  list-style-image:url('pics/tree/arrow-right.gif');
}

ul.config
{ 
  color: #ffffff;  
  margin: 0em;
  margin-left: 20px;
  padding-left: 1.5em;
}

/* top-most div */
div#mainDiv
{
  color:        black;
  background:   black;
  margin-left:  auto;
  margin-right: auto;
  width: 950px;
  padding:      0em;
}
div#contentDiv
{
}
table#contentTable
{
  width:        930px;
  margin-left:  10px;
  margin-right: 10px;
}
tr#contentTR
{
}

/* top-most part */
div#headDiv
{
  margin:       1em;
  text-align:   right;
  font-style:   italic;
  margin-right: 2em;
  color:        #4775a5;
  font-size:    200%;
  font-weight:  bold;
}

/* menu */
td#sideMenuPart
{
  border-width: 0px 2px 0px 0px;
  border-color: white gray white white;
  border-style: inset inset inset inset;
}

td.menuTd
{
  text-align: center;
}

a.freelink:visited
{ 
  color: #ff4;
}

a.freelink:link
{ 
  color: #ff4;
}

a.freelink:hover
{ 
  color: #fff;
}

a.freelink:active
{ 
  color: #fff;
}

a.blacklink:visited
{ 
  color: #000;
}

a.blacklink:link
{ 
  color: #000;
}

a.blacklink:hover
{ 
  color: #000;
}

a.blacklink:active
{ 
  color: #000;
}


a:visited
{
  color:           #777777;
}

a:link
{
  color:           #000000;
}


/* content */
td#mainContentPart
{
  width: 730px;
  text-align: justify;
  padding: 1em;
  color: #000000;
}

div#calendarDiv
{
  text-align: center;
}

.AlertTag
{
    background-color:  #8989a2;
    font-size:       18px;
}

.AlertContent
{
  background-color: #a9a9c2;
  font-size:        18px;
  text-align:       center;
}


/* footer part */
div#footerDiv
{
}

table#footerBar
{
  margin-top:   1em;
  border-top:   1px solid gray;
  color:        gray;
  font-style:   italic;
  font-size:    75%;
  margin-left:  20px;
  margin-right: 20px;
  width:        910px;
}

td#w3cValidator
{
  text-align:   left;
}

td#logos
{
  text-align: right;
}

/*No border around images for Mariusz*/
img
{
  border:     0px;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
}
